@font-face {
    font-family:"Nanum Gothic", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nanum Gothic", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Nanum Gothic", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
    font-weight: 800;
    font-style: normal;
}
body{
    margin: 0;
}
.topBanner{
    box-sizing: border-box;
    background-color: #777E5F;
    padding: 0;
    height: 5em;
    width: 100%;    
}
.topBanner .titulo{
    font-family: "Nanum Gothic";
    margin-top: 0;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top:1%;
}

.bottomBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #777E5F;
    padding: 0;
    height: 5em;
    width: 100%; 
    
}
.bottomBanner img{
    max-width: 100%;
    max-height: 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto ;
    padding: 8% ;
    background-color:#DAD2B9 ;
}
.main img{
    width: 20%;
    height: 20%;
    align-content: center;

}
.main .studentInfo{
    list-style: none;
    font-family: "Nanum Gothic";
    font-weight: 400;
    align-content: center;
    
}
.main .studentInfo span{
    list-style: none;
    font-family: "Nanum Gothic";
    font-weight: 900;
    color: #3F4D49;
}
@media only screen and (max-width:768px){
    .main {
        display: flex;
        flex-direction: column;
    }
    .main img{
        width: 100%;
    }
}